.cart-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  /* padding-bottom: 0.5rem; */
  border-bottom: solid 1px silver;
}

.cart-item__image {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}

.cart-item__image img {
  width: 100%;
  height: 100%;
}

.cart-item p,
.cart-item h3 {
  margin: 0.25rem 0 0;
  /* margin: 0; */
}

.quantity {
  display: flex;
}

.quantity span:nth-child(2) {
  font-weight: bold;
  margin-left: 0.5rem;
  padding: 2px 4px;
  width: 2rem;
  text-align: center;
  border: 2px solid lightgray;
}

.quantity button {
  font: inherit;
  font-weight: bold;
  width: 1.75rem;
  border: 1px solid lightgray;
  cursor: pointer;
}

.quantity button:hover {
  background-color: gray;
  color: white;
}
