.container {
  width: 90%;
  max-width: 25rem;
  margin: auto;
  padding: 1rem;
}

.container h2 {
  font: inherit;
  font-size: large;
  font-weight: normal;
}

.auth__button {
  font: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
  color: blue;
  cursor: pointer;
  text-align: left;
}
