@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 24px;

  --color-primary-400: #fbd997;
  --color-primary-800: #fab833;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  margin-top: 3.5rem;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header h1 {
  color: #444;
  text-align: center;
  margin: 0 0 12px;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.text-center {
  text-align: center;
}
